
:root {
    --card-color: #f5dee0;
    --font-color: #0D160B;
    --major-color: #4b55de;
    --contrast-color: #2c338f;
    --background-color: #D0F1BF;
    --font-titles: 'Lobster Two', cursive;
    --font-principal: 'Gelasio', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--font-principal);
    text-decoration: none;
}

/*HEADER*/

.box-header {
    display: flex;
    justify-content: center;
}

.box-img {
    display: flex;
    justify-content: center;
    width: 50%;
}

.box-img img {
    width: 40%;
}

/*NAV - TOP*/

.box-nav {
    position: sticky;
    top: 0;
    background-color: var(--major-color);
    border-top: 1px solid var(--contrast-color);
}

.listinha {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.listinha li {
    padding: 1%;
}

.listinha a,
.listinha2 a {
    color: var(--card-color);
    font-size: 1.1rem;

}

.listinha a:hover,
.listinha2 a:hover {
    color: var(--font-color);
}

/*CONTEÚDO*/

.apresentacao {
    width: 90%;
    margin: 2rem;
    padding: 1rem 1rem 0 1rem;
    text-align: center
}

.title {
    font-family: var(--font-titles);
    font-size: 3rem;
    text-decoration: underline;
    color: var(--major-color);

}

.info {
    margin: auto;
    padding: 1rem;
    font-size: 1.2rem;
}

.box-principal {
    margin: 3rem auto;
    width: 90%;
    margin-bottom: 5rem;
    /* border: 1px solid var(--major-color);
    border-radius: 10px;
    box-shadow: 5px 5px 5px #999; */
}

.titulo {
    font-family: var(--font-titles);
    font-size: 2.5rem;
    color: var(--major-color);
}

.sobre {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    border: 1px solid var(--major-color);
    border-radius: 10px;
}

/*FOOTER*/

.box-footer {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: #4b55de;
}

.footer-of-footer {
    text-align: center;
    background-color: #4b55de;
}

.listinha2 {
    list-style: none;
    padding: 0.6rem;
    ;
}


@media (max-width: 790px) {
    .box-menu {
        display: none;
    }
}